@page
@model FirstWebApplication.Pages.Restaurants.List

@{
    ViewData["Title"] = "Restaurant List";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    <h1>@Model.Message</h1>
</div>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group">
                <button class="btn btn-dark">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@Enum.GetName(restaurant.Cuisine)</td>
            <td>
                <a class="btn btn-danger"
                   asp-page="Details" 
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
        </tr>
    }
</table>
</body>
</html>